.button {
  min-width: 182px;
  max-width: 100%;
  padding: 6px 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 3px;

  &:focus {
    outline: 1px solid var(--accent-4);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.default {
  background-color: var(--accent-3);
  color: var(--foreground-1);

  &:hover {
    background-color: var(--accent-1);
  }

  &:active {
    background-color: var(--accent-4);
  }

  &:disabled {
    background-color: var(--accent-5);
    color: var(--foreground-5);
  }
}

.secondary {
  background-color: var(--background-2);
  color: var(--foreground-1);

  &:hover {
    background-color: var(--background-1);
  }

  &:active {
    background-color: var(--background-2);
  }

  &:disabled {
    background-color: var(--background-3);
    color: var(--foreground-5);
  }
}

.outline {
  background-color: transparent;
  color: var(--accent-3);
  border: 1px solid var(--accent-3);

  &:hover {
    color: var(--accent-1);
    border: 1px solid var(--accent-1);
  }

  &:active {
    color: var(--accent-4);
    border: 1px solid var(--accent-4);
  }

  &:disabled {
    color: var(--accent-5);
    border: 1px solid var(--accent-5);
  }
}

.link {
  min-width: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--accent-3);
  cursor: pointer;
  padding: 0; 

  &:hover {
    color: var(--accent-1);
    text-decoration: none;
  }

  &:active {
    color: var(--accent-4);
  }

  &:disabled {
    color: var(--foreground-5);
    cursor: not-allowed;
    text-decoration: none;
  }
}

