.generalInformation {
  width: 100%;
  display: flex;
}

.avatarContainer {
  width: 100%;
  max-width: 261px;
  padding: 48px 38px 48px 24px;
}

.avatarPhoto {
  width: 192px;
  height: 192px;
  border-radius: 100%;
}

.avatarWrapper {
  margin-bottom: 24px;
  position: relative;
  width: 192px;
  height: 192px;
}

.deleteButton {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #dc3545;
  border: none;
  border-radius: 50%;
  padding: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
