.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
  
  .modal {
    background-color: var(--dark-300);
    display: flex;
    position: relative;
    max-height: 564px;
  }
