.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 60%);
  z-index: 10000;
}

.modal {
  background-color: var(--dark-300);
  display: flex;
  position: relative;
  max-height: 564px;
}

.animate {
  opacity: 0;
  transform: scale(0.2);
  animation: fadeInAndScaled 0.5s forwards;
}

@keyframes fadeInAndScaled {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
