.informationFields {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.location {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.locationInput {
  width: 50%;
}

.sendBtn {
  margin-left: auto;
  width: 100%;
  max-width: 164px;
}
