.profileBlock {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
  padding: 36px 64px 0 24px;
  margin-top: 69px;
}

.profileHeader {
  display: flex;
  flex-direction: row;
  gap: 38px;
}

.profileHeader img {
  width: 234px;
  height: 228px;
}

.infoBlock {
  width: 100%;
}

.profileAndButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profileNameAndPaidGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.userName {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  vertical-align: middle;
  color: var(--primary-foreground);
}

.profileNameAndPaidGroup img {
  width: 24px;
  height: 24px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.followersBlock {
  display: flex;
  flex-direction: row;
  color: var(--primary-foreground);
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  gap: 100px;
  margin: 20px 0 23px;
}

.followersBlock div {
  display: flex;
  flex-direction: column;
}

.textBlock {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--primary-foreground);
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  gap: 12px;
  max-width: 100%;
}

.imageContainer {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 4px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.03);
  }
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
