.header {
  width: 100%;
  background-color: var(--background);
  padding-left: 30px;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--foreground);
  z-index: 5;
}

.header-container {
  max-width: 1580px;
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  width: 100%;
  color: var(--primary-foreground);
}

.header-container-title {
  font: var(--font-large);
  font-size: 32px;
}

.header-container-btns {
  display: flex;
  align-items: center;
  gap: 45px;
  padding: 0;

  & select {
    background-color: var(--background);
    cursor: pointer;
    &:hover {
      background-color: var(--accent-300);
    }
  }
}

@media screen and (max-width: 700px) {
  .header-container-btns {
    gap: 15px;
  }
}
