.container {
  padding: 8px 8px 45px;
  background: var(--background-3);
}

.requiredMessage {
  border: 1px solid #f00;
  padding-bottom: 15px;
}

.text {
  color: #f00;
  font: var(--font-small-12);
  margin-top: 15px;
}
