.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-bottom: 10px;
  gap: 24px;
  background-color: var(--background-3);
  border: 1px solid var(--background-2);
  max-width: 380px;
}

.title {
  color: var(--foreground-1);
  font: var(--font-h2);
  line-height: 36px;
}
.description {
  word-wrap: break-word;
  overflow-wrap: break-word; /* Альтернатива для word-wrap */
  margin-top: 10px;
  color: var(--foreground-5);
  font: var(--font-regular-14);
}

.inputContainer {
  margin-top: 10px;
}
.btn {
  width: 100%;
}
.input {
  & div {
    & input {
      width: 100%;
      max-width: unset;
    }
  }
}
