.container {
  border: 1px solid var(--background-2);
  background-color: var(--background-3);
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 24px 24px 36px;
  gap: 25px;
  max-width: 380px;
}
.title {
  color: var(--foreground-1);
  font: var(--font-h2);
  line-height: 36px;
}

.inputs {
  width: 100%;
  & div {
    & input {
      width: 100%;
      max-width: unset;
    }
    & button {
      left: 295;
    }
  }
}
.description {
  word-wrap: break-word;
  overflow-wrap: break-word; /* Альтернатива для word-wrap */

  color: var(--foreground-5);
  font: var(--font-regular-14);
}
.btn {
  width: 100%;
  margin-top: 10px;
}
