.wrapper {
  display: flex;
  flex-direction: column;
  width: 284px;
  height: 84px;
}

.label {
  font-size: 14px;
  color: var(--foreground-5);
  line-height: 24px;
}

.textarea {
  width: 100%;
  min-height: 84px;
  border: 1px solid var(--background-1);
  color: var(--foreground-1);
  padding: 6px 12px;

  &::placeholder {
    color: var(--foreground-5);
  }

  &.error {
    border-color: var(--danger-3) !important;
  }

  &.disabled {
    border-color: var(--background-1);
    color: var(--background-1);
    cursor: not-allowed;
  }

  &:focus {
    border-color: var(--accent-4);
    outline: none;
  }

  &.active {
    border-color: var(--foreground-1);
  }
}
.errorText {
  font-size: 14px;
  color: var(--danger-3);
  line-height: 24px;
}
